/*
 * SaaSus ApiLog API Schema
 *
 * SaaSus ApiLog API Schema
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 * Generated by: https://openapi-generator.tech
 */

use std::rc::Rc;
use std::borrow::Borrow;
use std::pin::Pin;
#[allow(unused_imports)]
use std::option::Option;

use hyper;
use futures::Future;

use super::{Error, configuration};
use super::request as __internal_request;

pub struct ApiLogApiClient<C: hyper::client::connect::Connect>
    where C: Clone + std::marker::Send + Sync + 'static {
    configuration: Rc<configuration::Configuration<C>>,
}

impl<C: hyper::client::connect::Connect> ApiLogApiClient<C>
    where C: Clone + std::marker::Send + Sync {
    pub fn new(configuration: Rc<configuration::Configuration<C>>) -> ApiLogApiClient<C> {
        ApiLogApiClient {
            configuration,
        }
    }
}

pub trait ApiLogApi {
    fn get_log(&self, api_log_id: &str) -> Pin<Box<dyn Future<Output = Result<crate::models::ApiLog, Error>>>>;
    fn get_logs(&self, ) -> Pin<Box<dyn Future<Output = Result<crate::models::ApiLogs, Error>>>>;
}

impl<C: hyper::client::connect::Connect>ApiLogApi for ApiLogApiClient<C>
    where C: Clone + std::marker::Send + Sync {
    #[allow(unused_mut)]
    fn get_log(&self, api_log_id: &str) -> Pin<Box<dyn Future<Output = Result<crate::models::ApiLog, Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::GET, "/logs/{api_log_id}".to_string())
        ;
        req = req.with_path_param("api_log_id".to_string(), api_log_id.to_string());

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn get_logs(&self, ) -> Pin<Box<dyn Future<Output = Result<crate::models::ApiLogs, Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::GET, "/logs".to_string())
        ;

        req.execute(self.configuration.borrow())
    }

}
